.logo img {
  width: 22px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h2 {
  margin-left: 10px;
  font-size: 14px;
}

input {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #cecece;
  outline: transparent;
}

p {
  color: red;
  text-align: center;
  display: none;
}

button {
  padding: 4px 10px;
  background-color: #30a14e;
  border: none;
  border-radius: 3px;
  margin: 10px auto;
  text-align: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
  display: block;
}
